# libreddit environment variables
LIBREDDIT_INSTANCE="loopback"
LIBREDDIT_SFW_ONLY="off"
# Add other instance-specific settings here if needed

# Default user settings
LIBREDDIT_DEFAULT_THEME="system"
LIBREDDIT_DEFAULT_WIDE="off"
LIBREDDIT_DEFAULT_USE_HLS="off"
# Add other default user settings here if needed
